.comment-widget__info {
    padding-top: 5px;
}

.navbar-link-signup {
    margin: 20px;
}

.page-widget__bottom {
    margin-left: 10px;
}

.comment-widget__commentsEMPTY {
    display: flex;
    background-color: white;
    border-radius: 35px;
    flex-direction: row;
    max-width: 900px;
    max-height: 500px;
    padding: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.comment-widget--loading {
    .comment-widget__comments {
        position: relative;
        height: 200px;
    }

    .comment-widget__comments::after {
        content: '';
        position: absolute;
        width: 64px;
        height: 64px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 8px solid transparent;
        border-top-color: var(--color-background-dark);
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }
}
