.category-page {
    background-color: white;
}

.category-page__sort-dropdown {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .category-page {
        padding-top: 0;
        background: none;
    }
}
