div(class=`login-form-card ${className}`)
    span(class="login-form-card__logo header header_h2")
        span(class="login-form-card__logo-left") Bizon
        span(class="login-form-card__logo-right") ID 
    span(class="login-form-card__header header header_h3") Войдите по логину
    span(class="login-form-card__subheader text_weight-semibold") Только для зарегистрированных пользователей
    div(class="login-form-card__main")
    div(class="login-form-card__signup-link")
    div(class="login-form-card__error")