div(class=`${className} counter`)
    button(class="counter__minus" type="button" data-action="minus") -
    div(class="counter__data") #{initial}
    button(class="counter__plus" type="button" data-action="plus") +