$color-primary-normal: #5dcec6;
$color-primary-light: #68e7dd;
$color-primary-dark: #3a817c;

$color-green-normal: #157f1f;
$color-green-light: #1fc130;
$color-green-lighter: #3ee04e;

$text-color-secondary: #9e9e9e;

$border-radius-default: 32px;
