div(class="signup-form-card")
    span(class="signup-form-card__logo")
        span(class="signup-form-card__logo__left") Bizon
        span(class="signup-form-card__logo__right") ID 
    span(class="signup-form-card__header") Регистрация
    span(class="signup-form-card__subheader") Введите ваш логин и пароль, чтобы зарегистрироваться
    div(class="signup-form-card__main")