.user-data {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.user-data__item {
    width: 256px;
}

@media (max-width: 1546px) {
    .user-data {
        flex-direction: column;
    }
    .user-data__item {
        width: auto;
    }
}
