div(class=`${className} user-data`)
    div(class="full-name")
        div(class="text_secondary") Ф.И.О.
        div(class="text_weight-semibold") #{fullName}
    div(class="phone-number")
        div(class="text_secondary") Номер телефона
        div(class="text_weight-semibold") #{phoneNumber}
    div(class="email")
        div(class="text_secondary") Почта
        div(class="text_weight-semibold") #{email}