form
    input(type="email" id="emailLogin" placeholder="Почта" name="email")
    input(type="password" id="passwordLogin" placeholder="Пароль" name="password")
    input(type="submit", value="Войти")