div(class=`${className} cart-info section`)
    div(class="cart-info__header")
        div(class="header header_h4") Ваша корзина
        div(class="cart-info__subheader cart-info__total-items") #{total}
    
    div(class="cart-info__money-info")
        div(class="cart-info__info-item") Товары
            span(class="text_weight-bold cart-info__products-cost") #{cost}
        div(class="cart-info__info-item") Доставка
            span(class="text_weight-bold color_green") Бесплатно

    div(class="cart-info__total cart-info__info-item header header_h4") Итого 
        span(class="cart-info__total-cost") #{cost}
        
    div(class="cart-info__confirm-btn-block")