div(class=`${className} cart-info section`)
    div(class="cart-info__header")
        div(class="header header_h4") Ваша корзина
        div(class="text_size-normal text_weight-bold")
            span(class="cart-info__total-items") #{total}
            span  товаров
    div(class="cart-info__money-info")
        span Общая стоимость 
        span(class="text_weight-bold") 
            span(class="cart-info__total-sum") #{cost} 
            span  ₽
    div(class="cart-info__confirm-btn-block")