.signup-form-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 40px 45px 40px 55px;
    background-color: #ffffff;
    border-radius: 32px;
}

.signup-form-card__logo-left {
    color: #5dcec6;
}

.signup-form-card__header {
    margin: 40px 0 16px 0;
}

.signup-form-card__main {
    margin-top: 30px;
}

@media (max-width: 640px) {
    .signup-form-card {
        width: auto;
        margin: 0;
    }
}

@media (max-width: 475px) {
    .signup-form-card {
        padding: 10px;
    }
}
