div(class=`signup-form-card ${className}`)
    span(class="signup-form-card__logo header header_h2")
        span(class="signup-form-card__logo-left") Bizon
        span(class="signup-form-card__logo-right") ID 
    span(class="signup-form-card__header header header_h3") Регистрация
    span(class="signup-form-card__subheader text text_weight-semibold") Придумайте логин и пароль, чтобы зарегистрироваться
    div(class="signup-form-card__main")
    div(class="signup-form-card__error")