.products-section {
    background-color: #FFF;
    border-radius: 15px;
    padding: 50px 30px;
}

.products-section__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.products-section__header {
    display: block;
    font-weight: 700;
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 56px;
}
