div(class=`${className} order-card`)
    div(class="order-card__info-left")
        div(class="text") Заказ номер
        div(class="order-card__order-id") 
            a(class="link" href=`${orderHref}`) #{id}
    div(class="order-card__info-right")
        div(class="order-card__order-sum")
            span(class="text text_size-xs") оплачено 
            span(class="text text_weight-semibold") #{sum}₽
