.order-card {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px 12px 20px;
    background-color: #f2f6f9;
    border-radius: 8px;
    height: 90px;
    box-sizing: border-box;
}

.order-card__info-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.order-card__info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

@media (max-width: 640px) {
    .order-card {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .order-card__info-right {
        flex-direction: row-reverse;
    }
}
