div(class=`${className} order-card`)
    div(class="order-card__info-left")
        div(class="header header_h5") Заказ от #{orderData}
    div(class="order-card__info-right")
        div(class="order-card__order-sum")
            span(class="text text_size-small") оплачено 
            span(class="header header_h5") #{sum}₽
