svg(class="link-icon"  data-link xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 26 26" fill="none")
    path(data-link d="M25 13C25 9.8174 23.7357 6.76515 21.4853 4.51472C19.2348 2.26428 16.1826 1 13 1M13 25C14.7991 25.0016 16.5755 24.5979 18.1972 23.8189C19.8189 23.0398 21.2443 21.9055 22.3675 20.5" stroke="currentColor" stroke-width="1.75" stroke-linecap="round")
    path(data-link d="M1 13H16M16 13L11.5 8.5M16 13L11.5 17.5" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round")