dialog(class=`${className} edit-dialog`)
    div(class="edit-dialog__upper")
        div(class="edit-dialog__header-line")
            span(class="edit-dialog__header header header_h3") Изменение данных
            span(class="edit-dialog__btn-close") 
        div(class="edit-dialog__subheader") Введите новые данные, которые хотели бы изменить
