// .edit-dialog__btn-close {
//     width: 32px;
//     height: 32px;
// }

// .edit-dialog__upper {
//     margin-bottom: 32px;
// }

// .edit-dialog {
//     width: 400px;
//     border: none;

//     .form__inputs {
//         flex-direction: column;
//     }
// }

// .edit-dialog__header-line {
//     display: flex;
//     justify-content: space-between;
// }

.edit-profile-form {
    .form__inputs {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    .input-block-container {
        width: 256px;
    }
}

@media (max-width: 1546px) {
    .edit-profile-form {
        .form__inputs {
            flex-direction: column;
        }
        .input-block-container {
            width: auto;
        }
    }
}
