div(class=`${className}`)
    div(class="comment-widget__main")
        div(class="comment-widget__info") Отзывы о товаре
            a(class="link-btn text text_weight-semibold navbar-link-signup") Оставить отзыв

