div(class=`${className}`)
    div(class="comment-widget__main")
        div(class="comment-widget__info") Отзывы о товаре
        div(class="comment-widget__comments")
        div(class="comment-widget__dialog")
