form
    input(type="email" id="emailSignup" placeholder="Почта" name="email")
    input(type="password" id="passwordSignup" placeholder="Пароль" name="password")
    input(type="num" id="ageSignup" placeholder="Возраст" name="age")
    input(type="submit", value="Зарегистрироваться")