div(class=`${className} category-search-results container`)
    div(class="category-search-results__header-container")
        div(class="category-search-results__header header header_h4")
    div(class="category-search-results__results section-padding")