div(class=`${className} product-info`)
    div(class="product-info__main-info-section")
        img(class="product-info__picture")
        div(class="product-info__main-info")
            div(class="product-info__info")
                div(class="product-info__product-name header header_h4") Ночник детский силиконовый для сна капибара
                div(class="product-info__product-seller-info header header_h5") Продавец: 
                    span(class="product-info__product-seller") продавец капибар
                div(class="product-info__product-rating-stars") 
            div(class="product-info__to-cart-card")
                div(class="product-info__to-cart-card-header header header_h4")
                    div(class="product-info__to-cart-card-old-price-and-sale")
                        span(class="product-info__to-cart-card-price")
                        span(class="product-info__to-cart-card-old-price text_size-big")
                        span(class="product-info__to-cart-card-sale text_size-big")
                div(class="product-info__to-cart-card-bottom-section")
                    div(class="product-info__to-cart-button-container") 
                    div(class="product-info__to-cart-card-delivery-date text text_weight-bold") доставка послезавтра
    div(class="product-info__description-section")
        div(class="header header_h4") Описание
        div(class="product-info__description text")
