.product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-info__picture {
    width: 300px;
    height: 300px;
    border-radius: 32px;
}

.product-info__main-info-section {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.product-info__main-info {
    display: flex;
    flex: 1;
    gap: 20px;
}

.product-info__info {
    flex: 1;
}

.product-info__product-name {
    margin-top: 20px;
    margin-bottom: 50px;
}

.product-info__product-seller-info {
    margin-bottom: 20px;
}

.product-info__to-cart-card {
    box-sizing: border-box;
    height: min-content;
}

.product-info__to-cart-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.product-info__to-cart-card-bottom-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-info__to-cart-button-container {
    .counter {
        width: 250px;
        margin: auto;
    }
}

.product-info__to-cart-card-delivery-date {
    text-align: center;
    font-size: var(--font-size-xs);
    color: var(--color-secondary);
}

.product-info__to-cart-btn {
    width: 100%;
}

@media (width > 1024px) {
    .product-info__to-cart-card {
        box-shadow: #aeaeae 0px 0px 6px;
        width: 370px;
        border-radius: 32px;
        padding: 50px 40px 40px 40px;
        background-color: white;
        box-sizing: border-box;
        height: min-content;
    }
}

@media (width <= 1024px) {
    .product-info__main-info {
        flex-direction: column;
    }
}

@media (width <= 640px) {
    .product-info__main-info-section {
        flex-direction: column;
        align-items: center;
    }

    .product-info__main-info {
        flex-direction: column;
        width: 100%;
    }

    .product-info__to-cart-card {
        border-top: 1px solid #d2d6d9;
        border-bottom: 1px solid #d2d6d9;
        padding: 24px 0;
    }
}

@media (max-width: 475px) {
    .product-info__picture {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }
}

@media (max-width: 280px) {
    .product-info__to-cart-button-container {
        .counter {
            width: 100%;
        }
    }
}
