div(class=`${className} product-info`)
    div(class="product-info__main-info-section")
        img(class="product-info__picture")
        div(class="product-info__main-info")
            div(class="product-info__info")
                div(class="product-info__product-name header header_h4") Ночник детский силиконовый для сна капибара
                div(class="product-info__product-seller-info header header_h5") Продавец: 
                    span(class="product-info__product-seller") продавец капибар
                div(class="product-info__product-rating-info header header_h5") 
                    span(class="product-info__product-rating-stars")
                        each val in [1, 2, 3, 4, 5]
                            svg(xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" fill="none")
                                path(d="M20.8748 2.03438L23.6836 7.42188C23.8925 7.81847 24.1924 8.15992 24.5587 8.41825C24.925 8.67659 25.3473 8.84447 25.791 8.90813L31.7235 9.72063C34.896 10.1581 36.126 14.0694 33.7798 16.2444L29.7173 19.9931C29.371 20.3113 29.1111 20.7121 28.9618 21.1581C28.8124 21.604 28.7787 22.0806 28.8635 22.5431L29.8548 28.0406C30.4061 31.1031 27.2198 33.4906 24.4235 32.0906L18.7536 29.2781C18.3632 29.0871 17.9344 28.9878 17.4998 28.9878C17.0652 28.9878 16.6364 29.0871 16.246 29.2781L10.5761 32.0906C7.77855 33.4781 4.59355 31.1031 5.1448 28.0406L6.13605 22.5419C6.31105 21.6044 5.98605 20.6419 5.28355 19.9919L1.2198 16.2444C-1.12645 14.0819 0.10355 10.1569 3.27605 9.71937L9.20855 8.90688C9.65356 8.84719 10.0776 8.68089 10.4445 8.42212C10.8114 8.16335 11.1104 7.81978 11.3161 7.42063L14.126 2.03438C15.556 -0.678125 19.456 -0.678125 20.8735 2.03438" fill="#FCD53F")
                    span(class="product-info__product-rating-numbers") 4.95/5
            div(class="product-info__to-cart-card")
                div(class="product-info__to-cart-card-header header header_h5") Стоимость:
                    span(class="product-info__to-cart-card-price") 6500
                div(class="product-info__to-cart-card-bottom-section")
                    div(class="product-info__to-cart-button-container") 
                    div(class="product-info__to-cart-card-delivery-date text text_size-small text_weight-bold") доставка послезавтра
    div(class="product-info__description-section")
        div(class="header header_h4") Описание
        div(class="product-info__description text") Набор карандашей чернографитных ударопрочных пластиковых с ластиком Berlingo "Flexy Pastel", 12 штук - это идеальные карандаши для рисования и черчения. Удобная форма и простота использования делают их незаменимым инструментом для школьников и студентов, а также любителей рисования и профессиональных художников. Карандаши простые позволяют легко наносить четкие и ровные линии, а также регулировать их толщину в зависимости от интенсивности нажима на карандаш. Особенности простых карандашей для школы Берлинго. 
