div(class=`${className} product-info`)
    div(class="product-info__main-info-section")
        img(class="product-info__picture")
        div(class="product-info__main-info")
            div(class="product-info__info")
                div(class="product-info__product-name header header_h4") Ночник детский силиконовый для сна капибара
                div(class="product-info__product-seller-info header header_h5") Продавец: 
                    span(class="product-info__product-seller") продавец капибар
                div(class="product-info__product-rating-info header header_h5") 
                    span(class="product-info__product-rating-stars") 
                    span(class="product-info__product-rating-numbers") 4.95/5
            div(class="product-info__to-cart-card")
                div(class="product-info__to-cart-card-header header header_h5") Стоимость:
                    span(class="product-info__to-cart-card-price") 6500
                div(class="product-info__to-cart-card-bottom-section")
                    div(class="product-info__to-cart-button-container") 
                    div(class="product-info__to-cart-card-delivery-date text text_size-small text_weight-bold") доставка послезавтра
    div(class="product-info__description-section")
        div(class="header header_h4") Описание
        div(class="product-info__description text") Набор карандашей чернографитных ударопрочных пластиковых с ластиком Berlingo "Flexy Pastel", 12 штук - это идеальные карандаши для рисования и черчения. Удобная форма и простота использования делают их незаменимым инструментом для школьников и студентов, а также любителей рисования и профессиональных художников. Карандаши простые позволяют легко наносить четкие и ровные линии, а также регулировать их толщину в зависимости от интенсивности нажима на карандаш. Особенности простых карандашей для школы Берлинго. 
