div(class=`${className} product-info`)
    div(class="product-info__main-info-section")
        img(class="product-info__picture")
        div(class="product-info__main-info")
            div(class="product-info__info")
                div(class="product-info__product-name header header_h4") Ночник детский силиконовый для сна капибара
                div(class="product-info__product-seller-info header header_h5") Продавец: 
                    span(class="product-info__product-seller") продавец капибар
                div(class="product-info__product-rating-stars") 
            div(class="product-info__to-cart-card")
                div(class="product-info__to-cart-card-header header header_h5") Стоимость:
                    span(class="product-info__to-cart-card-price")
                div(class="product-info__to-cart-card-old-price-and-sale")
                    span(class=`product-info__to-cart-card-new-price header header_h5` style=`${stylePrice}`)
                    span(class="product-info__to-cart-card-old-price")
                    span(class="product-info__to-cart-card-sale")
                div(class="product-info__to-cart-card-bottom-section")
                    div(class="product-info__to-cart-button-container") 
                    div(class="product-info__to-cart-card-delivery-date text text_weight-bold") доставка послезавтра
    div(class="product-info__description-section display_none")
        div(class="header header_h4") Описание
        div(class="product-info__description text") Набор карандашей чернографитных ударопрочных пластиковых с ластиком Berlingo "Flexy Pastel", 12 штук - это идеальные карандаши для рисования и черчения. Удобная форма и простота использования делают их незаменимым инструментом для школьников и студентов, а также любителей рисования и профессиональных художников. Карандаши простые позволяют легко наносить четкие и ровные линии, а также регулировать их толщину в зависимости от интенсивности нажима на карандаш. Особенности простых карандашей для школы Берлинго. 
