div(class=`${className} profile-notifications`)
    div(class="profile-notifications__header header header_h3") Уведомления
    div(class="profile-notifications__subheader") 
        span(class="text_weight-light") Ваши уведомления