.profile-one-order-info__header {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-one-order-info__main-info {
    margin-top: 20px;
}

.main-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: var(--color-background);
    border-radius: var(--border-radius-sm);
}

.main-info__line {
    display: flex;
    justify-content: space-between;
}

.profile-one-order-info__products-info {
    margin-top: 30px;
}

.products-info__products {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-info__discount-line:empty {
    display: none;
}
