- var badgeClass = "badge " + className
case position
    when "top-right"
        - badgeClass = badgeClass + " badge_top-right"
    when "center-right"
        - badgeClass = badgeClass + " badge_center-right"
case color
    when "red"
        - badgeClass = badgeClass + " badge_red"
    when "green"
        - badgeClass = badgeClass + " badge_green"
    when "blue"
        - badgeClass = badgeClass + " badge_blue"
span(class=badgeClass style=`width: ${width}`) #{text}