.input-block {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.input-block__input {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    height: 50px;
    border: 2px solid rgb(157, 157, 157);
    border-radius: 8px;
    flex-grow: 1;
    padding-left: 15px;
    box-sizing: border-box;
    transition: border-color 0.1s;
    outline: none;
}

.hide-show-password-btn {
    outline: none;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgb(157, 157, 157);
    width: 50px;
    transition: background-color 0.2s;
}

.hide-show-password-btn__text {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
}

.hide-show-password-btn:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.input-block__input:focus {
    border-color: #5dcec6;
}

.input-block__input:focus:hover {
    border-color: #5dcec6;
}

.input-block__input:hover {
    border-color: #3a817c;
}

.input-block__error {
    color: rgb(150, 0, 0);
}

.input-block__input_invalid {
    border-color: rgb(200, 0, 0);
}

.input-block__input_invalid:hover {
    border-color: rgb(150, 0, 0);
}

.input-block__input_invalid:focus {
    border-color: rgb(255, 0, 0);
}

.input-block__input_invalid:focus:hover {
    border-color: rgb(255, 0, 0);
}

.input-block__input_valid {
    border-color: rgb(0, 180, 0);
}

.input-block__input_valid:hover {
    border-color: rgb(0, 150, 0);
}

.input-block__input_valid:focus {
    border-color: rgb(0, 225, 0);
}

.input-block__input_valid:focus:hover {
    border-color: rgb(0, 225, 0);
}
