.input-block {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 2px solid rgb(157, 157, 157);
    border-radius: 8px;
    transition: border-color var(--transition-time-normal);

    .input {
        border: none;
        flex: 1;
    }
}

.hide-show-password-btn {
    width: 50px;
}

.input-block:focus-within {
    border-color: #5dcec6;
}

.input-block:focus-within:hover {
    border-color: #5dcec6;
}

.input-block:hover {
    border-color: #3a817c;
}

.input-block__error {
    color: rgb(150, 0, 0);
}

.input-block_invalid {
    border-color: rgb(200, 0, 0);
}

.input-block_invalid:hover {
    border-color: rgb(150, 0, 0);
}

.input-block_invalid:focus-within {
    border-color: rgb(255, 0, 0);
}

.input-block_invalid:focus-within:hover {
    border-color: rgb(255, 0, 0);
}

.input-block_valid {
    border-color: rgb(0, 180, 0);
}

.input-block_valid:hover {
    border-color: rgb(0, 150, 0);
}

.input-block_valid:focus-within {
    border-color: rgb(0, 225, 0);
}

.input-block_valid:focus-within:hover {
    border-color: rgb(0, 225, 0);
}
