div(class="product-card-outer")
    div(class="product-card-inner")
        img(class="product-card-img" src=`${src}` alt="img")
        div(class="product-card-info")
            div(class="product-card-info-cost") #{productCost}
            div(class="product-card-info-description") #{productName}