div(class="login-form-card")
    span(class="login-form-card__logo")
        span(class="login-form-card__logo__left") Bizon
        span(class="login-form-card__logo__right") ID 
    span(class="login-form-card__header") Войдите по логину
    span(class="login-form-card__subheader") Только для зарегистрированных пользователей
    div(class="login-form-card__main")