.login-form-card {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 40px 45px 40px 55px;
    background-color: #ffffff;
    border-radius: 32px;
}

.login-form-card__logo {
    font-weight: 700;
    font-size: 32px;
}

.login-form-card__logo__left {
    color: #5dcec6;
}

.login-form-card__header {
    font-size: 27px;
    font-weight: 700;
    margin: 40px 0 16px 0;
}

.login-form-card__subheader {
    font-size: 16px;
}

.login-form-card__main {
    margin-top: 30px;
}

.login-form-card__main form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form-card__main form .input-block__input {
    width: 100%;
    display: flex;
    gap: 5px;
}

.login-form-card__main form .input-block input {
    display: inline-block;
    height: 50px;
    border: 2px solid rgb(157, 157, 157);
    font-size: 18px;
    border-radius: 8px;
    flex-grow: 1;
    padding-left: 15px;
    box-sizing: border-box;
    transition: border-color 0.1s;
    outline: none;
}

.login-form-card__main form .input-block .hide-show-password-btn {
    outline: none;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid rgb(157, 157, 157);
    width: 50px;
    transition: background-color 0.2s;
}

.login-form-card__main form .input-block .hide-show-password-btn:hover {
    cursor: pointer;
    background-color: #dbdbdb;
}

.login-form-card__main form input:focus {
    border-color: #5dcec6;
}

.login-form-card__main form input:focus:hover {
    border-color: #5dcec6;
}

.login-form-card__main form input:hover {
    border-color: #3a817c;
}

.login-form-card__main form .input-block .input-block__error {
    color: rgb(150, 0, 0);
    font-size: 12px;
    font-weight: 700;
}

.login-form-card__main form button.btn-submit {
    position: relative;
    border-radius: 8px;
    margin-top: 20px;
    height: 50px;
    background-color: #5dcec6;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    transition: background-color 0.2s;
    outline: none;
}

.login-form-card__main form button.btn-submit:hover {
    cursor: pointer;
    background-color: #68e7dd;
}

.login-form-card__main form button.btn-submit:focus {
    cursor: pointer;
    background-color: #68e7dd;
}

/* Loading animation */
.login-form-card__main form button.btn-submit--loading .btn-submit__text {
    visibility: hidden;
    opacity: 0;
}

.login-form-card__main form button.btn-submit--loading::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.login-form-card__main form .input-block input.invalid {
    border-color: rgb(200, 0, 0);
}

.login-form-card__main form .input-block input.invalid:hover {
    border-color: rgb(150, 0, 0);
}

.login-form-card__main form .input-block input.invalid:focus {
    border-color: rgb(255, 0, 0);
}

.login-form-card__main form .input-block input.invalid:focus:hover {
    border-color: rgb(255, 0, 0);
}

.login-form-card__main form input.valid {
    border-color: rgb(0, 180, 0);
}

.login-form-card__main form input.valid:hover {
    border-color: rgb(0, 150, 0);
}

.login-form-card__main form input.valid:focus {
    border-color: rgb(0, 225, 0);
}

.login-form-card__main form input.valid:focus:hover {
    border-color: rgb(0, 225, 0);
}
