div(class=`${className} cart-items-section section`)
    div(class="cart-items-section__header")
        span(class="header header_h4") Предметы в корзине
        span(class="cart-items-section__clear-btn-place")
    div(class="cart-items-section__cart-items")