.main-page {
    display: grid;
    grid-template-areas:
        'categories promo'
        'categories products';
    gap: 14px;
}

.products {
    grid-area: products;
}

.categories {
    width: 300px;
    height: fit-content;
    position: sticky;
    top: 0;
    grid-area: categories;
    box-sizing: border-box;
}

.promo {
    grid-area: promo;
}

@media (width <= 1024px) {
    .main-page {
        grid-template-areas:
            'promo'
            'categories'
            'products';
    }

    .categories {
        width: 100%;
        position: static;
    }
}
