.products-section__inner__card {
    display: inline-block;
    background-color: white;
    border-radius: 7px;
    width: 251.19px;
    height: 345.19px;
}

.products-section__inner__card__inner {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.products-section__inner__card__inner__img {
    height: 251.19px;
    border-radius: 5px;
}

.products-section__inner__card__inner__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 10px;
}

.products-section__inner__card__inner__info__cost {
    font-size: 20px;
    margin-bottom: 4px;
}

.products-section__inner__card__inner__info__description {
    flex: 1;
    font-size: 16px;
    padding-top: 8px;
}
