- var buttonClass = 'btn ' + className
case btnStyle
    when 'whiteWithBg'
        - buttonClass = buttonClass + ' btn_white-with-bg'
    when 'bright'
        - buttonClass = buttonClass + ' btn_bright'
    when 'green'
        - buttonClass = buttonClass + ' btn_green'
    when 'white'
        - buttonClass = buttonClass + ' btn_white'
    when 'red'
        - buttonClass = buttonClass + ' btn_red'
case size
    when 'sm'
        - buttonClass = buttonClass + ' btn_sm'
    when 'xs'
        - buttonClass = buttonClass + ' btn_xs'
    default
        - buttonClass = buttonClass + ' btn_sm'
button(type=`${type}` class=buttonClass) 
    span(class="btn__icon")
    span(class=`btn__text`) #{btnText}
