div(class=`${className} app`)
    header(class="navbar-container header header_h3")
    main(class="content text")
div(class="no-mobile text") Пока что мы не добавили мобильную верстку (но она обязательно будет!)