case style
    when 'small'
        div(class=`code-card code-card_small ${className}`)
            span(class='code-card__code text_size-small text_weight-bold') #{code}
            span(class='code-card__description text_size-small') #{description}