div(class=`${className} container`)
    div(class=`navbar navbar_${type}`)
        div(class="navbar-section navbar__public")
        div(class="navbar-section navbar__searchbar-container")
        div(class="navbar-section navbar__private")