.navbar__navigation {
    height: 100%;
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navbar_desktop {
    justify-content: space-between;
    gap: 30px;
}

.navbar_mobile {
    justify-content: center;
    gap: 16px;
    .navbar__searchbar-container {
        display: none;
    }
}

.navbar-section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar:empty {
    margin: auto;
    min-width: 500px;

    background-image: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0) 80%
        ),
        linear-gradient(lightgray 20px, transparent 0);

    background-repeat: no-repeat;

    background-size:
        50px 200px,
        500px 200px;

    background-position:
        100px 10px,
        100px 10px;

    animation: shine-nav 1s infinite;
}

@keyframes shine-nav {
    to {
        background-position:
            600px 10px,
            100px 10px;
    }
}

.navbar__searchbar-container {
    flex: 1;
    max-width: 730px;
    align-self: flex-start;
}

.navbar__private-mobile {
    display: none;
}

@media (max-width: 1536px) {
    .navbar_desktop {
        .navbar__searchbar-container {
            max-width: 600px;
        }
    }
}

@media (max-width: 1280px) {
    .navbar_desktop {
        .navbar__searchbar-container {
            max-width: 512px;
        }
    }
}

@media (max-width: 1024px) {
    .navbar_desktop {
        .navbar__searchbar-container {
            width: 100%;
            max-width: none;
        }
        .navbar__private {
            display: none;
        }

        .navbar__public {
            display: none;
        }
    }
}
