div(class=`${className} cast-widget`)
            div(class="csat-widget__info") Готовы ли вы рекомендовать bizonshop друзьям?
            div(class="csat-widget__mark") Оцените по шкале от 1 до 10.
            div(class="csat-widget__line")
            div(class="csat-widget__absolute")
                div(class="csat-widget__absoluteNO") Точно нет
                div(class="csat-widget__absoluteYES") Точно да
