.csat-widget__info {
  font-weight: 500;
  font-size: 20px;
  height: 40px;
}

.csat-widget__mark{
  font-weight: 300;
}

.cast-widget__bottom{
  //padding: 20px;
}

.cast-widget{
  display: flex;
  background-color: white;
  flex-direction: column;
  max-width: 600px;
  max-height: 500px;
  padding: 25px;
}


.csat-widget__absolute{
  display: flex;
  flex-direction: row;
  height: 50px;
}

.csat-widget__absoluteYES{
  margin-left: auto;
}


.csat-widget__line-star{
  padding-left: 15px;
}

.csat-widget__line{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}


.csat-widget__absoluteNO{
  margin-right: auto;
}

.csat-widget__container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  background-color: #cfcece;
  border-radius: 100%;
  height: 25px;
  width: 25px;
}
