.products-section {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.products-section__categories {
    width: 300px;
}

.products-section__section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;
}

.products-section__header {
    display: block;
    margin-bottom: 35px;
}

@media (width <= 1024px) {
    .products-section {
        flex-direction: column;

        .products-section__categories {
            width: 100%;
        }
    }
}
