section.container
    div(class=`${className} products-section`)
        div(class="products-section__categories")
        div(class="products-section__section")
            span(class="products-section__header header header_h3") Все товары
            div.products-section__products