section.container
    div(class=`${className} products-section`)
        div(class="products-section__categories")
        div(class="products-section__section")
            if !categoryId
                span(class="products-section__header header header_h3") Все товары
            else
                div(class="products-section__header header header_h3")
                    span Категория: 
                    span(class="products-section__category-name") 
            div.products-section__products