section.container
    div(class=`${className} products-section`)
        div(class="products-section__categories")
        div(class="products-section__section section")
            div.products-section__products