.products-section {
    display: flex;
    flex-direction: row;
    gap: 14px;
}

.products-section__categories {
    width: 300px;
}

.products-section__section {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 40px 25px 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto 10px auto;
}

.products-section__header {
    display: block;
    margin-bottom: 35px;
}
