div(class=`${className} searchbar-container header header_h5`)
    form(class="searchbar-container__searchbar")
        div(class="searchbar border_radius-sm")
    div(class="searchbar-container__search-results")