div(class=`${className} user-card`)
    img(class="user-card__picture" src=`${pictureSrc}`)
    span(class="user-card__real-name header header_h1") #{realName}
    span(class="user-card__login header header_h4") Добро пожаловать!