.search-results {
    gap: 0;
}

.search-result {
    background-color: #fff;
    display: flex;
    align-items: stretch;
}

.search-result__icon {
    color: #c0c3c5;
}

.search-result__to-input-btn {
    border-radius: 0;
}
.search-result__result {
    flex: 1;
    padding: 8px 0 8px 8px;
    transition: var(--transition-time-normal);
    display: flex;
    gap: 8px;
}

.search-result__result:hover {
    background-color: #efefef;
    cursor: pointer;
}
