div(class=`${className} change-picture`)
    form(class="change-picture__form")
        div(class="change-picture__picture-preview")
            img(class="change-picture__user-picture" src=`${defaultPictureSrc}`)
            label(class="change-picture__label") Выбрать
                input(class="change-picture__user-picture-input" name="avatar" accept="image/png, image/jpeg, image/jpg" type="file")
    div(class="change-picture__error-block display_none text_size-xs text_weight-semibold")