.profile-main-info {
    display: flex;
    flex-direction: column;
}
.profile-main-info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-main-info__subheader {
    margin-top: 6px;
}

.profile-main-info__main-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .profile-main-info__user-data {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
