div(class=`${className} profile-main-info`)
    div(class="profile-main-info__header header header_h3") 
        span Учетные данные
            
    div(class="profile-main-info__subheader text_weight-light") Информация о вашей учетной записи
    div(class="profile-main-info__main-info")
        div(class="profile-main-info__login-info") Вы вошли под логином: 
            span(class="profile-main-info__login text_weight-bold")
        div(class="profile-main-info__user-data")
        div(class="profile-main-info__change-picture-container")
            

