.profile-main-info {
    display: flex;
    flex-direction: column;
}
.profile-main-info__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-main-info__subheader {
    margin-top: 6px;
}

.profile-main-info__main-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.profile-main-info__user-data {
    flex: 1;
    max-width: 500px;
}

@media (max-width: 1546px) {
    .profile-main-info__user-data {
        max-width: 400px;
    }
}

@media (max-width: 1280px) {
    .profile-main-info__user-data {
        max-width: 300px;
    }
}

@media (max-width: 1024px) {
    .profile-main-info__user-data {
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .profile-main-info__user-data {
        max-width: none;
    }
    .profile-main-info__main-info {
        gap: 20px;
    }
}

@media (max-width: 512px) {
    .profile-main-info__main-info {
        flex-direction: column-reverse;
        gap: 2em;
    }

    .profile-main-info__change-picture-container {
        align-self: center;
    }
}
