div(class=`${className} profile-main-info`)
    div(class="profile-main-info__header header header_h3") 
        span Учетные данные
            
    div(class="profile-main-info__subheader text_weight-light") Информация о вашей учетной записи
    div(class="profile-main-info__main-info")
        div(class="profile-main-info__user-data")
            div
                div(class="text_size-small text_weight-bold") Имя
                div(class="profile-main-info__full-name")
            div
                div(class="text_size-small text_weight-bold") Номер телефона
                div(class="profile-main-info__phone-number")
            div
                div(class="text_size-small text_weight-bold") Почта
                div(class="profile-main-info__email")
        div(class="profile-main-info__change-picture-container")
            

