html(style="height: 100%; margin: 0")
    head 
        meta(charset="UTF-8")
    body(style="height: 100%; margin: 0; display: flex")
        div(style="margin: auto; font-size: 30px; color: #dbdbdb; font-family: sans-serif; margin: auto; min-width: 512px; text-align: center") Произошла ошибка с соединением