mixin star(starSize, starFill)
    svg(xmlns="http://www.w3.org/2000/svg" width=`${starSize}px` height=`${starSize}px` fill="none" viewBox="0 0 36 34")
        path(d="M21.3748 2.9637L24.1835 8.3512C24.3925 8.74779 24.6924 9.08924 25.0587 9.34758C25.425 9.60591 25.8473 9.77379 26.291 9.83745L32.2235 10.6499C35.396 11.0874 36.6261 14.9987 34.2798 17.1737L30.2173 20.9224C29.871 21.2406 29.6111 21.6415 29.4618 22.0874C29.3124 22.5334 29.2787 23.0099 29.3636 23.4724L30.3548 28.9699C30.9061 32.0324 27.7198 34.4199 24.9235 33.0199L19.2535 30.2074C18.8632 30.0164 18.4344 29.9171 17.9998 29.9171C17.5652 29.9171 17.1364 30.0164 16.746 30.2074L11.0761 33.0199C8.27855 34.4074 5.09355 32.0324 5.6448 28.9699L6.63605 23.4712C6.81105 22.5337 6.48605 21.5712 5.78355 20.9212L1.7198 17.1737C-0.62645 15.0112 0.60355 11.0862 3.77605 10.6487L9.70855 9.8362C10.1536 9.77651 10.5776 9.61021 10.9445 9.35144C11.3114 9.09267 11.6104 8.7491 11.8161 8.34995L14.626 2.9637C16.056 0.251196 19.956 0.251196 21.3735 2.9637" fill=starFill)

div(class=`${className} rating-result`)
    - var tempRating = 0
    while maxRating > 0
        - maxRating--
        if (tempRating < rating)
            +star(size, fullColorHex)
        else
            +star(size, emptyColorHex)
        - tempRating++
