div(class=`${className} profile-orders-info`)
    div(class="profile-orders-info__header header header_h3") Мои заказы
    div(class="profile-orders-info__subheader text_weight-light") Информация о ваших заказах