div(class=`${className} profile-promocodes-info`)
    div(class="profile-promocodes-info__header header header_h3") Промокоды
    div(class="profile-promocodes-info__subheader text_weight-light") Доступные вам промокоды
    div(class="profile-promocodes-info__main-info")