.search-page {
    background-color: white;
}

.search-page__sort-dropdown {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .search-page {
        background: none;
        padding-top: 0;
    }
}
