dialog(class=`${className} add-dialog`)
    div(class="add-dialog__upper")
        div(class="add-dialog__header-line")
            span(class=`add-dialog__header header header_h3`) Ваш отзыв о товаре
            span(class="add-dialog__btn-close")
        div(class="add-dialog__subheader")
            img(class="add-dialog__img" src=`${productSrc}` alt="img")
            div(class="add-dialog__description") #{productDescription}
    div(class="add-dialog__form-place") Оцените покупку
    div(class="add-dialog__error")
