@font-face {
    font-family: 'Open Sans';
    src: url('./shared/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./shared/fonts/Montserrat-VariableFont_wght.ttf');
}

$border-radius-default: 32px;

:root {
    --color-primary-normal: #5dcec6;
    --color-primary-dark: #3a817c;
    --color-primary-light: #68e7dd;
    --color-error-normal: #ff0400;
    --color-error-light: #ff5451;
    --color-error-bg: #ffe5e4;
    --color-green-normal: #157f1f;
    --color-green-light: #1fc130;
    --color-green-lighter: #3ee04e;
    --color-secondary: #808080;
    --color-background: #f2f6f9;
    --color-background-dark: #e2e6e9;
    --color-background-darker: #d2d6d9;

    --border-radius-md: 16px;
    --border-radius-sm: 8px;

    --btn-height-bg: 50px;
    --btn-height-sm: 40px;
    --btn-height-xs: 30px;

    --font-family-main-text: 'Open Sans', sans-serif;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --font-size-normal: 1rem;
    --font-size-sm: 0.9rem;
    --font-size-xs: 0.8rem;

    --z-index-on-top: 100;
}

$breakpoint-2xl: 1546px;
$breakpoint-xl: 1280px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 640px;
$breakpoint-xs: 475px;

$section-padding-2xl: 30px 40px 30px 40px;
$section-padding-lg: 20px 20px 30px 20px;
$section-padding-xs: 10px 10px 16px 10px;

html,
body,
.root {
    height: 100%;
}

.full-height {
    height: 100%;
    box-sizing: border-box;
}

.page {
    padding-top: 24px;
    box-sizing: border-box;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax white;
    clip-path: inset(0 -100vmax);
}

.section {
    background-color: #fff;
    border-radius: 16px;
    padding: $section-padding-2xl;
}

.section-padding {
    padding: $section-padding-2xl;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-background);
}

.border_radius-sm {
    border-radius: var(--border-radius-sm);
}

.border_bottom-radius-sm {
    border-radius: 0 0 8px 8px;
}

.box-shadow {
    box-shadow: #aeaeae 0px 0px 6px;
}

/* Header styles */
.header {
    font-family: 'Montserrat';
    color: black;
    font-size: 40px;
    font-weight: 800;
}

.header_h1 {
    font-size: 3rem;
    font-weight: 800;
}

.header_h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.header_h3 {
    font-size: 2rem;
    font-weight: 700;
}

.header_h4 {
    font-size: 1.7rem;
    font-weight: 700;
}

.header_h5 {
    font-size: 1.4rem;
    font-weight: 600;
}

.header_h6 {
    font-size: 1.2rem;
    font-weight: 500;
}

/* Display */
.display_none {
    display: none;
}

.display_flex {
    display: flex;
}

/* Text style */
.text_secondary {
    color: var(--color-secondary);
    font-size: 0.9rem;
    font-weight: var(--font-weight-bold);
}

.text {
    font-family: var(--font-family-main-text);
    color: black;
    font-size: 1rem;
    font-weight: var(--font-weight-regular);
    text-decoration: none;
}

.text_size-normal {
    font-size: 1rem;
}

.text_size-big {
    font-size: 1.1rem;
}

.text_size-small {
    font-size: 0.9rem;
}

.text_size-xs {
    font-size: var(--font-size-xs);
}

.text_weight-light {
    font-weight: var(--font-weight-light);
}

.text_weight-regular {
    font-weight: var(--font-weight-regular);
}

.text_weight-semibold {
    font-weight: var(--font-weight-semibold);
}

.text_weight-bold {
    font-weight: var(--font-weight-bold);
}

@media (max-width: $breakpoint-2xl) {
    .container {
        max-width: $breakpoint-xl;
    }
}

@media (max-width: $breakpoint-xl) {
    .container {
        max-width: $breakpoint-lg;
    }
}

@media (max-width: $breakpoint-lg) {
    .container {
        width: 100%;
        padding: 0;
    }

    .mobile-padding {
        padding: 0 4px;
    }

    .page {
        padding-top: 16px;
        padding-bottom: 80px;
    }

    .section {
        padding: $section-padding-lg;
    }

    .section-padding {
        padding: $section-padding-lg;
    }
}

@media (max-width: $breakpoint-xs) {
    .section {
        padding: $section-padding-xs;
    }

    .section-padding {
        padding: $section-padding-xs;
    }

    .header_h1 {
        font-size: 2.5rem;
    }

    .header_h2 {
        font-size: 2.2rem;
    }

    .header_h3 {
        font-size: 1.8rem;
    }

    .header_h4 {
        font-size: 1.6rem;
    }
}
