@font-face {
    font-family: 'Open Sans';
    src: url('./shared/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./shared/fonts/Montserrat-VariableFont_wght.ttf');
}

$color-green-normal: #157f1f;
$color-green-light: #1fc130;
$color-green-lighter: #3ee04e;

$border-radius-default: 32px;

:root {
    --color-primary-normal: #5dcec6;
    --color-primary-dark: #3a817c;
    --color-primary-light: #68e7dd;
    --color-secondary: #808080;
    --color-background: #efefef;
}

html,
body,
.root {
    height: 100%;
}

.section {
    background-color: #fff;
    border-radius: 16px;
    padding: 30px 40px 30px 40px;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    box-sizing: border-box;
}

@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .section {
        padding: 20px 20px 30px 20px;
    }
}

body {
    margin: 0;
    background-color: var(--color-background);
}

.border_radius-sm {
    border-radius: 8px;
}

.box-shadow {
    box-shadow: #aeaeae 0px 0px 6px;
}

/* Header styles */
.header {
    font-family: 'Montserrat';
    color: black;
    font-size: 40px;
    font-weight: 800;
}

.header_h1 {
    font-size: 40px;
    font-weight: 800;
}

.header_h2 {
    font-size: 32px;
    font-weight: 700;
}

.header_h3 {
    font-size: 28px;
    font-weight: 700;
}

.header_h4 {
    font-size: 24px;
    font-weight: 700;
}

.header_h5 {
    font-size: 20px;
    font-weight: 600;
}

.header_h6 {
    font-size: 18px;
    font-weight: 500;
}

/* Display */
.display_none {
    display: none;
}

/* Text style */
.text {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.text_size-normal {
    font-size: 16px;
}

.text_size-small {
    font-size: 12px;
}

.text_weight-light {
    font-weight: 300;
}

.text_weight-regular {
    font-weight: 400;
}

.text_weight-semibold {
    font-weight: 600;
}

.text_weight-bold {
    font-weight: 700;
}
