@font-face {
    font-family: 'GTEestiPro';
    src: url('./shared/fonts/gteestiprodisplay_regular.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'GTEestiPro', sans-serif;
    background-color: #efefef;
    margin: 0;
    min-width: 1372px;
}

a {
    text-decoration: none;
    color: black;
}
