@font-face {
    font-family: 'Open Sans';
    src: url('./shared/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./shared/fonts/Montserrat-VariableFont_wght.ttf');
}

body {
    background-color: #efefef;
    margin: 0;
    min-width: 1372px;
}

/* Header styles */
.header {
    font-family: 'Montserrat';
    color: black;
    font-size: 40px;
    font-weight: 800;
}

.header_h1 {
    font-size: 40px;
    font-weight: 800;
}

.header_h2 {
    font-size: 32px;
    font-weight: 700;
}

.header_h3 {
    font-size: 28px;
    font-weight: 700;
}

.header_h4 {
    font-size: 24px;
    font-weight: 700;
}

.header_h5 {
    font-size: 20px;
    font-weight: 600;
}

.header_h6 {
    font-size: 18px;
    font-weight: 500;
}

/* Text style */
.text {
    font-family: 'Open Sans';
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.text_size-normal {
    font-size: 16px;
}

.text_size-small {
    font-size: 12px;
}

.text_weight-light {
    font-weight: 300;
}

.text_weight-regular {
    font-weight: 400;
}

.text_weight-semibold {
    font-weight: 600;
}

.text_weight-bold {
    font-weight: 700;
}
