.add-dialog {
    width: 100%;
    bottom: 0px;
    right: 0px;
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
    z-index: calc(var(--z-index-on-top) + 10);
    position: fixed;
    overflow: auto;
    background-color: white;
    opacity: 0;
    height: 0;
    box-sizing: border-box;
    padding-bottom: 0;
}

.add-dialog__inner {
    display: grid;
    grid-template-areas:
        'header header'
        'product inputs'
        'stars inputs';
    gap: 20px;
    grid-template-columns: 600px 1fr;
}

.add-dialog__header-line {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-dialog__subheader {
    grid-area: product;

    flex-direction: row;
    display: flex;
}

.add-dialog__description {
    padding-top: 10px;
}

.add-dialog__form-place {
    grid-area: inputs;
}

.add-comment-form {
    justify-content: space-between;
    height: 100%;
}

.add-dialog__stars-place {
    grid-area: stars;
}

.add-dialog__stars-rating {
    margin-top: 8px;
}

.add-dialog__img {
    height: 140px;
    aspect-ratio: 1;
}

@media (max-width: 1280px) {
    .add-dialog__inner {
        grid-template-columns: 440px 1fr;
    }
}

@media (max-width: 1024px) {
    .add-dialog__inner {
        display: grid;
        grid-template-areas:
            'header'
            'product'
            'stars'
            'inputs';
        grid-template-columns: auto;
    }
}
