.product-card {
    display: flex;
    background-color: white;
    border-radius: 7px;
    word-break: break-word;
}

.product-card:hover {
    .product-card__info {
        color: var(--color-primary-normal);
    }
}

.product-card__info {
    transition: 0.1s;
}

.product-card__img {
    transition: 0.1s;
    border-radius: 5px;
}

.product-card__info {
    flex: 1;
    display: flex;
    padding-top: 8px;
}

.product-card__info-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.product-card__info-description {
    flex: 1;
}

// Vertical card
$normal-size-modifier: 36px;
$small-size-modifier: 18px;

.product-card_vertical {
    width: clamp($small-size-modifier * 7, 40vw, $normal-size-modifier * 7);
    height: clamp($small-size-modifier * 16, 63vw, $normal-size-modifier * 11);
    flex-direction: column;
}

.product-card__img_vertical {
    aspect-ratio: 1;
}

.product-card__info_vertical {
    flex-direction: column;
}

// Horizontal card
.product-card_horizontal {
    width: 560px;
    height: 100px;
    flex-direction: row;
    gap: 20px;
}

.product-card__img_horizontal {
    aspect-ratio: 1;
}

.product-card__info_horizontal {
    flex-direction: column-reverse;
}

@media (max-width: 1024px) {
    .product-card_horizontal {
        width: 100%;
    }
}

@media (max-width: 475px) {
    .product-card_horizontal {
        height: 80px;
        gap: 10px;
    }
}
