.product-card {
    display: flex;
    background-color: white;
    border-radius: 7px;
    word-break: break-word;
}

.product-card:hover {
    .product-card__info {
        color: var(--color-primary-normal);
    }
}

.product-card__info {
    transition: 0.1s;
}

.product-card__img {
    transition: 0.1s;
    border-radius: 5px;
}

.product-card__info {
    flex: 1;
    display: flex;
    padding-top: 8px;
}

.product-card__info-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

$max-font-size: var(--font-size-normal);
$min-font-size: var(--font-size-sm);

.product-card__info-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: clamp(38px, 7vw, 44px);
    font-size: clamp($min-font-size, 2.5vw, $max-font-size);
}

// Vertical card
$normal-size-modifier: 20px;
$small-size-modifier: 10px;

.product-card_vertical {
    width: clamp($small-size-modifier * 12, 36vw, $normal-size-modifier * 12);
    // height: clamp($small-size-modifier * 17, 51vw, $normal-size-modifier * 17);
    flex-direction: column;
}

.product-card__img_vertical {
    aspect-ratio: 1;
}

.product-card__info_vertical {
    flex-direction: column;
}

// Horizontal card
.product-card_horizontal {
    width: 100%;
    height: 100px;
    flex-direction: row;
    gap: 20px;
}

.product-card__img_horizontal {
    aspect-ratio: 1;
}

.product-card__info_horizontal {
    flex-direction: column-reverse;
}

@media (max-width: 475px) {
    .product-card_horizontal {
        height: 80px;
        gap: 10px;
    }
}

.product-card__info-sale{
    color: var(--color-error-normal);
    font-size: var(--font-size-sm);
}


@media (width >= 640px) {
    .line-through {
        margin-left: 6px;
        margin-right: 6px;
        position: relative;
    }

    .line-through:before{
        border-bottom: 1px solid var(--color-secondary);
        position: absolute;
        content: "";
        width: 100%;
        height: 120%;
        transform: rotate(-7deg);
    }

    .product-card__info-new-cost{
        font-size: 25px;
        color: var(--color-green-lighter);
    }

}

@media (width < 640px) {
    .product-card__info-top-prices{
        flex-direction: column;
        display: flex;
    }
    .line-through {
        text-decoration: line-through;
        text-decoration-color: var(--color-secondary);
    }
    .product-card__info-new-cost{
        font-size: var(--font-size-normal);
        color: var(--color-green-lighter);
    }

}