svg(class="link-icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg") 
    path(class="link-icon__path" d="M11.6665 15H28.3332M28.3332 15L23.3332 10M28.3332 15L23.3332 20" stroke="#5DCEC6" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round")
    path(class="link-icon__path" d="M1.6665 15C1.6665 11.4638 3.07126 8.07241 5.57175 5.57193C8.07223 3.07145 11.4636 1.66669 14.9998 1.66669M14.9998 28.3334C13.0008 28.3352 11.027 27.8866 9.22515 27.021C7.42324 26.1554 5.83949 24.895 4.5915 23.3334" stroke="#5DCEC6" stroke-width="2.5" stroke-linecap="round")
