div(class=`${className} search-results container`)
    div(class="search-results__header-container")
        div(class="search-results__header header header_h4")
    div(class="search-results__results section-padding")