.profile-info {
    display: flex;
    gap: 14px;
}

.profile-info__navbar {
    flex-basis: 400px;
}

.profile-info__page {
    flex: 1;
}

@media (width <= 1280px) {
    .profile-info__navbar {
        flex-basis: 300px;
    }
}

@media (width <= 1024px) {
    .profile-info {
        flex-direction: column-reverse;
    }
}
